<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anthony.cd.app.pdc.file.mapper.FileMapper">

    <insert id="addFiles" parameterType="java.util.List">
        INSERT INTO file_info_tbl(file_id, file_name, postfix, user_name, server_path) VALUES
        <foreach collection="list" index="index" item="fileDTO" separator=",">
            (#{fileDTO.fileId},#{fileDTO.fileName},#{fileDTO.postfix},#{fileDTO.userName},#{fileDTO.serverPath})
        </foreach>
    </insert>

    <select id="findFile" parameterType="java.util.Map" resultType="FileDTO">
        SELECT file_id fileId,file_name fileName,postfix,user_name userName,server_path serverPath FROM file_info_tbl
        WHERE
        <trim prefixOverrides="and">
            <if test="fileId!=null">
                and file_id = #{fileId}
            </if>
            <if test="fileName!=null">
                and file_name = #{fileName}
            </if>
            <if test="userName!=null">
                and user_name = #{userName}
            </if>
        </trim>
        limit 1
    </select>

    <select id="findFileList" parameterType="java.util.Map" resultType="FileDTO">
        SELECT file_id fileId,file_name fileName,postfix,user_name userName,server_path serverPath FROM file_info_tbl
        WHERE
        <trim prefixOverrides="and">
            <if test="fileId!=null">
                and file_id = #{fileId}
            </if>
            <if test="fileName!=null">
                and file_name = #{fileName}
            </if>
            <if test="userName!=null">
                and user_name = #{userName}
            </if>
        </trim>
    </select>

    <delete id="deleteFile" parameterType="java.util.Map">
        DELETE FROM file_info_tbl
        WHERE file_id = #{fileId} AND user_name = #{userName}
    </delete>

</mapper>