<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anthony.cd.app.pdc.user.mapper.UserMapper">

    <select id="getUserInfo" parameterType="java.util.Map" resultType="UserInfoDTO">
        SELECT
        user_name userName,
        nick_name nickName,
        user_type userType,
        tel_phone telPhone,
        e_mail eMail,
        id_card idCard
        FROM USER_INFO_TBL
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userName!=null">
                and user_name = #{userName}
            </if>
            <if test="passWord!=null">
                and pass_word=PASSWORD(#{passWord})
            </if>
        </trim>
    </select>

    <insert id="addUserInfo" parameterType="UserInfoDTO">
        INSERT INTO user_info_tbl (user_name, nick_name, pass_word, tel_phone, e_mail, id_card)
        VALUES (#{userName}, #{nickName}, PASSWORD(#{passWord}), #{telPhone}, #{eMail}, #{idCard})
    </insert>

    <select id="isUserExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM user_info_tbl
        WHERE user_name = #{userName}
    </select>

    <insert id="insertUserHisTbl" parameterType="java.lang.String">
        INSERT INTO user_info_his_tbl (user_name, nick_name, pass_word, user_type, tel_phone, e_mail, id_card, created_date, updated_date)
            SELECT
                user_name,
                nick_name,
                pass_word,
                user_type,
                tel_phone,
                e_mail,
                id_card,
                created_date,
                updated_date
            FROM user_info_tbl
            WHERE user_name = #{userName}
    </insert>

    <delete id="deleteUserInfoByUserName" parameterType="java.lang.String">
        DELETE FROM user_info_tbl
        WHERE user_name = #{userName}
    </delete>

    <update id="updateUserInfo" parameterType="UserInfoDTO">
        UPDATE user_info_tbl SET
        <trim prefixOverrides=",">
            <if test="nickName!=null">
                , nick_name=#{nickName}
            </if>
            <if test="passWord!=null">
                , pass_word=PASSWORD(#{passWord})
            </if>
            <if test="userType!=null">
                , user_type=#{userType}
            </if>
            <if test="telPhone!=null">
                , tel_phone=#{telPhone}
            </if>
            <if test="eMail!=null">
                , e_mail=#{eMail}
            </if>
            <if test="idCard!=null">
                , id_card=#{idCard}
            </if>
        </trim>
        WHERE user_name=#{userName}
    </update>



</mapper>