<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anthony.cd.app.pdc.user.mapper.UserMapper">

    <select id="getUserInfoByUserName" parameterType="java.lang.String" resultType="UserInfoDTO">
        SELECT
        user_name userName,
        nick_name nickName,
        pass_word passWord,
        user_type userType,
        tel_phone telPhone,
        e_mail eMail,
        id_card idCard
        FROM USER_INFO_TBL
        WHERE user_name = #{userName}
    </select>

    <insert id="addUserInfo" parameterType="UserInfoDTO">
        INSERT INTO user_info_tbl (user_name, nick_name, pass_word, tel_phone, e_mail, id_card)
        VALUES (#{userName}, #{nickName}, #{passWord}, #{telPhone}, #{eMail}, #{idCard})
    </insert>


</mapper>